/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 82; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: hsl(38, 70%, 93%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margin Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{

    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);

}

/*========== Button Dark/Light ==========*/
.nav_buttons{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
}

/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
section{
    padding: 2rem 0 4rem;
}

.section_title{
    font-size: var(--h1-font-size);
    margin-bottom: 0.4rem;
}

.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle{
    text-align: center;
}
/*==================== LAYOUT ====================*/
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle{
    color: var(--title-color);
    font-weight: bold;
}

.nav_logo:hover{
    color: var(--first-color);
}

.nav_toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav_toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width:767px){
    .nav_menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav_list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
    padding: 0 3px;
}

.nav_link::after{
    content: "";
    position: absolute;
    background-color: var(--first-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -24px;
    transition: 0.4s;
}

.nav_link:hover:after{
    width: 100%;
}

.nav_link:hover{
    color: var(--first-color);
}

.nav_icon{
    font-size: 1.2rem;
}

.nav_close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav_close:hover{
    color: var(--first-color-alt);
}
/* show menu */
.show_menu{
    bottom: 0;
}

/*==================== HOME ====================*/
.home_container{
    gap: 1rem;
}

.home_content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home_social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}

.home_social-icon:hover{
    color: var(--first-color-alt);
}

.home_blob{
    width: 200px;
    fill: var(--first-color);
}

.home_blob-img{
    width: 220px;
}

.home_data{
    grid-column: 1/3;
}

.home_title{
    font-size: var(--big-font-size);
}

.home_subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home_description{
    margin-bottom: var(--mb-2);
}

.home_scroll-button{
    color: var(--first-color);
    transition: .3s;
}

.home_scroll-button:hover{
    transform: translateY(0.5rem);
}

.home_scroll-mouse{
    font-size: 2rem;
}

.home_scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home_scroll-arrow{
    font-size: 1.25rem;
}
/*==================== BUTTONS ====================*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight:var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button_icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}
/*==================== ABOUT ====================*/
.about_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_img{
    width: 175px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about_description{
    display: flex;
    text-align: center;
    margin-bottom: var(--mb-2-5);
    line-height: 2;
}

.about_info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about_buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*==================== MY JOURNEY ====================*/
.experience_container{
    max-width: 600px;
    line-height: 2;
}
.experience_tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.experience_button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.experience_button:hover{
    color: var(--first-color);
}

.experience_icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.experience_data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.experience_content p{
    text-align: justify;
    text-indent: 51px;
}

.experience_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.experience_subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.experience_calendar{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.experience_rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.experience_line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -12px);
}

.experience [data-content]{
    display: none;
}

.experience_active[data-content]{
    display: block;
}

/*==================== CONTACT ME ====================*/
.contact_container{
    row-gap: 4rem;
    position: relative;
    justify-content: center;
}

.contact_information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.contact_icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*==================== FOOTER ====================*/
.footer{
    padding-top: 4rem;
    
}

.footer_container{
    max-width: 968px;
    height: 100%;
}

.footer_bg{
    background-color: var(--first-color-second);
    padding: 2rem 0 2rem;
}

.footer_title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer_subtitle{
    font-size: var(--small-font-size);
}

.footer_links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer_link:hover{
    color: hsl(var(--hue-color), 50%, 50%);
}

.footer_copy{
    font-size: var(--smaller-font-size);
    text-align: center;
    margin-top: var(--mb-3);
}

.footer_title,
.footer_subtitle,
.footer_link{
    color: #FFF;
}
/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width: 0.7rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color:var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home_scroll-button{
        margin-top: 3rem;
    }
    
    .nav_menu{
        padding: 2rem .25rem 4rem;
    }

    .nav_list{
        column-gap: 0;
    }

    .home_content{
        grid-template-columns: .25fr 3fr;
    }

    .home_blob{
        width: 180px;
    }
    
    .footer_container{
        row-gap: 0;
    }

    .footer_subtitle{
        margin-bottom: 3rem;
    }

    .footer_title{
        font-size: 2rem;
    }
}

@media screen and (min-width: 350px){
    .home_scroll-button{
        margin-top: 3rem;
    }

    .footer_container{
        row-gap: 0;
    }

    .footer_subtitle{
        margin-bottom: 3rem;
    }

    .footer_title{
        font-size: 2rem;
    }

    body{
        margin: 0 0 3rem 0;
    }
}
/* For medium devices */
@media screen and (min-width: 568px){
    .home_content{
        grid-template-columns: max-content 1fr 1fr;
    }

    .home_data{
        grid-column: initial;
    }

    .home_img{
        order: 1;
        justify-self: center;
    }

    .about_container,
    .experience_container{
        grid-template-columns: repeat(2, 1fr);
    }

    .experience_sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }

    .footer_container{
        row-gap: 0;
    }

    .footer_title{
        font-size: 2rem;
    }

    .footer_subtitle{
        margin-bottom: 3rem;
    }

    body{
        margin: 0 0 3rem 0;
    }

    .home_scroll-button{
        margin-left: 3rem;
    }
}

@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .body{
        margin: 0;
    }
    
    .home_scroll-button{
        margin-top: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }

    .section_subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .main{
        padding: 0 1rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav_icon,
    .nav_close,
    .nav_toggle{
        display: none;
    }

    .nav_list{
        display: flex;
        column-gap: 2rem;
    }

    .nav_menu{
        margin-left: auto;
    }

    .change-theme{
        margin: 0;
    }

    .home_container{
        row-gap: 5rem;
    }

    .home_content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home_blob{
        width: 270px;
    }

    .home_scroll{
        display: block;
    }

    .home_scroll-button{
        margin-left: 3rem;
    }

    .about_container{
        column-gap: 3rem;
    }

    .about_description{
        text-align: center;
    }

    .about_info{
        justify-content: space-between;
    }

    .about_buttons{
        justify-content: initial;
    }

    .experience_tabs{
        justify-content: center;
    }

    .experience_button{
        margin: 0 var(--mb-1);
    }

    .experience_sections{
        grid-template-columns: .5fr;
    }

    .footer_container{
        row-gap: 0;
    }

    .footer_title{
        font-size: 2rem;
    }

    .footer_subtitle{
        margin-bottom: 3rem;
    }

    .footer_bg{
        padding: 3rem 2rem 3.5rem;
    }

    .footer_links{
        flex-direction: column;
        row-gap: 2rem;
    }

    .footer_copy{
        margin-top: 4.5rem;
    }

    body{
        margin: 0 0 0 0;
    }
}
/* For large devices */
@media screen and (min-width: 1024px){
    .header,
    .main{
        padding: 0;
    }

    .home_blob{
        width: 320px;
    }

    .home_social{
        transform: translateX(-6rem);
    }  
}